html {
    text-align: center;
}
#alarmLabel {
    font-family: "Century Gothic";
    margin-left: 100px;
    color: white;
    font-size: 20px;
}
#in {
    font-family: "Century Gothic";
    margin-left: 90px;
    font-size: 20px;
}
#header {
    text-align: center;
    width: 600px;
}
#time {
    color: white;
    font-size: 30px;
}
#timeSet {
    font-family: "Century Gothic";
    font-size: 20px;
}
#alarmLabel {
    font-size: 20px;
}
#setTimeB {
    font-family: "Century Gothic";
    font-size: 20px;
    text-align: center;
}
#recommendB {
  font-family: "Century Gothic";
  font-size: 20px;
  text-align: center;
}
#cancelAlarm {
    font-family: "Century Gothic";
    font-size: 20px;
    text-align: center;
}
input {
    text-align: center;
    width: 10%;
    align-content: center;
}
body {
    background-image: url("images/sky.jpg");
    background-attachment: fixed;
    background-size: cover;
}
#timeLabel{
  font-family: "Century Gothic";
  font-size: 40px;
  text-align: center;
}
#date{
  font-family: "Century Gothic";
  font-size: 20px;
  text-align: center;
}

@media (min-width: 1200px) {
    #date {
        font-size: 30px;
    }
    #time {
        height: 172px;
    }
    #alarmLabel {
        font-size: 20px;
    }
    #setTimeB {
        font-family: "Century Gothic";
        font-size: 20px;
        text-align: center;
    }
    #cancelAlarm {
        font-family: "Century Gothic";
        font-size: 20px;
        text-align: center;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    #date {
        font-size: 20px;
    }
    #time {
        height: 150px;
    }
    #alarmLabel {
        font-size: 20px;
    }
    #setTimeB {
        font-size: 20px;
        text-align: center;
    }
    #cancelAlarm {
        font-size: 20px;
        text-align: center;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #alarmLabel {
        margin-left: 20px;
        font-size: 20px;
    }
    #in {
        margin-left: 10px;
        font-size: 20px;
    }
    #header {
        text-align: center;
        width: 200px;
    }
    #time {
        font-size: 20px;
    }
    #date {
        font-size: 20px;
    }
    #time {
        height: 80px;
    }
    #alarmLabel {
        font-size: 20px;
    }
    #setTimeB {
        font-size: 20px;
        text-align: center;
    }
    #cancelAlarm {
        font-size: 20px;
        text-align: center;
    }
    #logo {
        height: 100px;
    }
}
@media (max-width: 767px) {
    #time {
        font-size: 20px;
    }
    #date {
        font-size: 18px;
    }
    #alarmLabel {
        margin-left: 15px;
        font-size: 15px;
    }
    #in {
        margin-left: 10px;
        font-size: 15px;
        margin-top: 10px;
    }
    #header {
        text-align: center;
        width: 200px;
    }
    #setTimeB {
        font-size: 15px;
        text-align: center;
    }
    #cancelAlarm {
        font-size: 15px;
        text-align: center;
    }
    #logo {
        height: 100px;
    }
}
@media (max-width: 480px) {
    #date {
        font-size: 14px;
    }
    #time {
        height: 60px;
        font-size: 20px;
    }
    #alarmLabel {
        font-size: 8px;
    }
    #setTimeB {
        font-size: 8px;
        ;
    }
    #cancelAlarm {
        font-size: 8px;
    }
    #page-linked-container {
        height: 30px;
        font-size: 5px;
    }
    #bar {
        height: 30px;
    }
    #logo {
        height: 70px;
    }
    #end-part {
        margin-top: 20px;
        margin-bottom: 5px;
    }
}
